@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

// global settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

.copyright {
  color: rgb(170, 170, 170);
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.container {
  width: 100%;
  // max-width: 960px; //marked
  margin: 0 auto;
  // padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  // margin-bottom: 30px;

  .logo {
    span:nth-of-type(1) {
      font-weight: 700;
    }
    span:nth-of-type(2) {
      font-weight: 700;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      margin-left: 10px;
      a {
        display: flex;
        align-items: center;

        &:hover {
          color: #555;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

.page {
  padding: 10px;

  .page-home-mobile {
    // border: 1px solid green;
    margin: 30px 0;
    div {
      border: 1px solid #efefef7e;
      border-radius: 10px;
      box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 80%;
      margin: 20px auto;
      padding: 20px;
      font-weight: 700;
      background-color: #efefef7e;
      &:hover {
        transform: scale(0.98);
        background-color: #efefef;
        transition: all 0.1s;
      }
    }
  }

  .page-home-pad {
    // border: 1px solid green;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    div {
      border: 1px solid #efefef7e;
      border-radius: 10px;
      box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: large;
      width: 48%;
      margin: 20px auto;
      padding: 20px;
      font-weight: 700;
      background-color: #efefef7e;
      padding: 100px 0;
      &:hover {
        transform: scale(0.98);
        background-color: #efefef;
        transition: all 0.1s;
      }
    }
  }

  .page-home-desktop {
    // border: 1px solid green;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    div {
      border: 1px solid #efefef7e;
      border-radius: 10px;
      box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: large;
      width: 48%;
      margin: 20px auto;
      padding: 20px;
      font-weight: 700;
      background-color: #efefef7e;
      padding: 100px 0;
      &:hover {
        transform: scale(0.98);
        background-color: #efefef;
        transition: all 0.1s;
      }
    }
  }

  .page-backButton {
  }

  .page-heading {
    // margin: 30px;
    // font-size: 1.8em;
    font-weight: 700;
    border-bottom: 1px solid rgba(210, 209, 209, 0.598);
    margin: 20px 20px;
    padding-bottom: 20px;

    // padding: 0 20px;
    text-align: center;
    p {
      color: #828282;
      text-align: center;
    }
    h1 {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    .page-heading-ratings {
      display: flex;
      justify-content: space-between;
      .page-heading-rating {
        display: flex;
        align-items: center;
      }
    }
    .page-heading-author,
    .page-heading-date {
      display: flex;
      justify-content: flex-start;
      font-weight: normal;
      p {
        color: #000;
        span {
          font-weight: 700;
        }
      }
    }
  }

  .page-home-main {
    width: 90%;
    margin: 0 auto;
  }

  .page-editButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .page-buttons {
    display: flex;
    justify-content: space-between;
  }

  .page-main {
    margin: 20px;
    .page-description {
      border-bottom: 1px solid rgba(210, 209, 209, 0.598);
      padding-bottom: 20px;
      margin-bottom: 20px;
      span {
        font-size: large;
        font-weight: 700;
      }
    }
    .page-steps {
      h3 {
        margin-bottom: 5px;
      }
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(210, 209, 209, 0.598);
    }
    .page-reviews {
      .reviews-header {
        div:first-of-type {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        div:nth-of-type(2) {
          h4 {
            text-decoration: underline;
            margin-bottom: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#detailPageChip {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#privatePageChips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form {
  width: 70%;
  margin: 0 auto;

  .form-group {
    margin-bottom: 15px;
  }

  .form-rating {
    margin-top: 20px;
  }

  .loginToRegisterLink,
  .registerToLoginLink {
    display: flex;
    justify-content: flex-end;
  }

  #loginToRegisterLink,
  #registerToLoginLink {
    text-decoration: underline;
    color: #1976d2;
    // font-size: 0.8em;
  }

  .form-group-checkbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;

    label {
      min-width: 200px;
    }
  }
}

.card {
  // border: 1px solid red;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #efefef7e;
  margin-bottom: 20px;
  padding: 20px;

  .dish-card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .dish-card-isPublic {
    display: flex;
    justify-content: flex-end;
    p {
      border: 1px solid black;
      border-radius: 0.5em;
      padding: 5px 10px;
      border-radius: 1em;
      // background-color: #000;
      // color: #fff;
    }
  }

  .dish-card-status {
    display: flex;
    justify-content: space-between;
  }

  .dish-card-author {
    font-size: 0.9em;
    span {
      font-weight: 700;
    }
  }

  .dish-card-description {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
  }

  .review-card-heading {
    span {
      font-weight: 700;
    }
  }
}

.review-card-rating {
  display: flex;
  align-items: center;
  //   flex-direction: row-reverse;
  //   justify-content: flex-end;
  .review-card-rating-stars {
    margin-right: 5px;
  }
}

.dish-reviews-cards {
  margin: 15px;
}

//animations
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//phone
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .page {
    .page-home-pad,
    .page-home-desktop {
      display: none;
    }
  }
}
//pad
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .page {
    .page-home-mobile,
    .page-home-desktop {
      display: none;
    }
    .dish-reviews-cards {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .review-card {
      width: 80%;
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    // position: absolute;
    width: 50%;
    .card-viewButton {
      position: relative;
    }
  }
}
//laptop
@media only screen and (min-width: 1281px) {
  .page {
    .page-home-pad,
    .page-home-mobile {
      display: none;
    }
    .page-home-desktop {
      margin: 30px 150px;
      div {
        &:nth-child(1) {
          // border: 1px solid red;
        }
        .page-home-link {
          border: 1px solid green;
        }
      }
    }
    .page-heading {
      font-size: large;
    }
    .review-card {
      width: 70%;
      margin: 20px auto;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    // position: absolute;
    width: 33%;
    .card-viewButton {
      position: relative;
    }
  }
}
